body {
  background-image: url(https://e0.pxfuel.com/wallpapers/502/478/desktop-wallpaper-puss-in-boots-puss-in-boots-the-last-wish.jpg);
  background-size: cover;
  background-position: center;  
  display: flex;
  align-items: center;
  justify-content: center;    
  height: 100vh;  
  font-family: 'Croissant One', cursive;
}

header{
    align-self: first baseline;
}

.title {
  width: 8.3em;
  height: 1.2em;
  font-size: 15rem;
  position: relative;
  margin-left: 25%;
  margin-top: 5%;
}

.title div {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  width: 100%;
  display: block;
}

.upper {
  top: 0;
  height: 52.5%;
  color: #ff8800;
  overflow: hidden;
  z-index: 3;
  animation: moveUp 1.5s ease-in-out 1;
  background-color: #121212;
}

.lower {
  bottom: 0;
  height: 100%;
  background: linear-gradient(180deg, #00000000 52.5%, #ff8800 52.5%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 1;
  animation: moveDown 1.5s ease-in-out 1;
}

.inside {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  text-align: center;
  z-index: 2;
  font-size: 8rem;
  color: #ffffff;
}

@keyframes moveUp {
  0%,
  100% {
    top: 0;
  }

  50%,
  70% {
    top: -45px;
  }
}

@keyframes moveDown {
  0%,
  100% {
    top: 0;
  }

  50%,
  70% {
    top: 30px;
  }
}

@media (max-width: 424px) {
  .container {
    font-size: 2.5rem;
  }

  .inside {
    font-size: 0.75rem;
  }
}

@media (max-width: 320px) {
  .container {
    font-size: 2rem;
  }

  .inside {
    font-size: 0.5rem;
  }
}

.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.488);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.361);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 25%;
  height: 70%;
  margin-left: -20%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.banner-image {
  background-image: url(https://m.media-amazon.com/images/M/MV5BNjMyMDBjMGUtNDUzZi00N2MwLTg1MjItZTk2MDE1OTZmNTYxXkEyXkFqcGdeQXVyMTQ5NjA0NDM0._V1_FMjpg_UX1000_.jpg);
  background-position: center;
  background-size: cover;
  height: 85%;
  width: 85%;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255);
  margin-left: 7%;
}

h1{
  color: rgb(255, 206, 59);
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 3px;
}

p {
  color: rgba(255, 206, 59, 0.621);
  text-align: center;
  font-size: 4rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper{
    margin-top: 18px;
  }
  
.btn {
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 5rem;  
    letter-spacing: 2px;  
    cursor: pointer;
    text-decoration: none;
}
  
.btn + .btn {
    margin-left: 10px;
}
  
.outline {
    background: transparent;
    color: rgba(255, 206, 59, 0.621);
    border: 1px solid rgba(255, 206, 59, 0.621);
    transition: all .3s ease;
    
}
  
.outline:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
}

